@import 'carbon-components/scss/globals/scss/styles.scss';
@import './vars.scss';

body {
  background: $black;
  color: $white;
}

a,
button {
  img {
    pointer-events: none;
    user-select: none;
    vertical-align: bottom;
  }
}

.main {
  background: $gray !important;
}
